{%extends 'main.html' %}



{%block content%}


<form>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">email</label>
      <input value="{{profile.user.email}}" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">counrty</label>
      <input value="{{profile.country}}" type="text" class="form-control" id="exampleInputPassword1">
    </div>

    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">address</label>
        <input type="text" class="form-control" id="exampleInputPassword1">
      </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

{%endblock%}